@model IEnumerable<CookingRecipes.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<div>

</div>

<h1>Reviews</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @{
                        string stars = new String('★', item.Rating);
                    }
                 @stars
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId"><i class="fa-solid fa-pen" style="color: #50e196; font-size:24px; margin-right:12px;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ReviewId"><i class="fa-solid fa-trash-can" style="color: #50e196; font-size:24px;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
