@model CookingRecipes.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<div class="container-recipe">
<h1>@Html.DisplayFor(model => model.Name)</h1>
<p>Total Time : @Html.DisplayFor(model => model.Time) m</p>
<p style="font-size:24px;">@Html.DisplayFor(model => model.Description)</p>
<p class="fw-bold">@Html.DisplayNameFor(model => model.Ingredients)</p>
<p>@Html.DisplayFor(model => model.Ingredients)</p>
<p class="fw-bold">@Html.DisplayNameFor(model => model.Directions)</p>
<p>@Html.DisplayFor(model => model.Directions)</p>

<div>   
    <a asp-action="Edit" asp-route-id="@Model?.RecipeId"><i class="fa-solid fa-pen" style="color: #50e196; font-size:24px; margin-right:12px;"></i></a>
    <a asp-action="Delete" asp-route-id="@Model?.RecipeId"><i class="fa-solid fa-trash-can" style="color: #50e196; font-size:24px;"></i></a>
    <p></p>
    <h3>Reviews</h3>
     

       @if (Model.Reviews.Count > 0)
        {
            <ul>
            @foreach (var item in Model.Reviews)
            {
                <li>
                    @item.Date @item.Rating @item.Comment
                </li>
                }
            </ul>

        } else{
        <p>No Reviews.</p>                
    }
        <a asp-controller="Reviews" asp-action="Create" class="btn btn-success">Add New Review</a>
    @* <partial name="_ReviewForm"> *@
       
        <br>
        <br>
    <a asp-action="Index">Back to List</a>
</div>
</div>