@model CookingRecipes.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<div>
<h1>Random import!</h1>
    <h4>Randomly displayed a recipe from <a href="https://oceans-nadia.com/">Nadia</a>. </h4>
    <h4>If you like this recipe, please press import button!</h4>
<div class="container-recipe">

    <h2>@Model.Name</h2>
<p></p>
    <p style="font-size:24px;">@Model.Description</p>
<p></p>
    <p class="fw-bold">Total Time: @Model.Time</p>
<p></p>
<p class="fw-bold">Ingredients</p>
    <p>@Model.Ingredients</p>

<p></p>
        <p class="fw-bold">Directions</p>
        <p>@Model.Directions</p>
        <form asp-action="Create" id="importform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Name" class="form-control" type="hidden" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>

                <input asp-for="Description" class="form-control" type="hidden" value="@Model.Description">
                <span asp-validation-for="Description" class="text-danger"></span>

                <input asp-for="Time" class="form-control" type="hidden" value="@Model.Time" />
                <span asp-validation-for="Time" class="text-danger"></span>

                <input asp-for="Ingredients" class="form-control" type="hidden" value="@Model.Ingredients">
                <span asp-validation-for="Ingredients" class="text-danger"></span>

                <input asp-for="Directions" class="form-control" type="hidden" value="@Model.Directions">
                <span asp-validation-for="Directions" class="text-danger"></span>

                <input type="submit" id="import" value="Import!" class="btn btn-success" />
        </form>
</div>

@* <script>
        const button = document.querySelector("#import");
        console.log(button);
        button.addEventListener("click", () => {
            button.innerText = "Imported!";
            button.classList.toggle("disabled");
            sleep(2000);
        })

</script> *@